h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  margin: 0px;
  color: #2c3335;
}
body {
  background-color: #dae0e2;
}
.app {
  display: grid;
  place-items: center;
}
.app__content {
  margin-top: 1%;
}
.balance__card {
  padding: 1%;
  margin: 6px 0px;
}
.expense__card {
  background-color: #eaf0f1;
  padding: 1%;
  display: flex;
  justify-content: space-around;
}
.history__card {
  padding: 1%;
  margin: 3% 0px;
}
.addtransaction__card {
  padding: 1%;
  margin: 3% 0px;
}
.expense__card__income {
  text-align: center;
}
.expense__card__expense {
  text-align: center;
}
